<!DOCTYPE html>
<html lang="en">
	<!-- lang="en" คือการกำหนดภาษาหลักให้กับเว็บไซต์-->
<head>
	<meta charset="UTF-8">
	<title>CMM 19</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel="stylesheet" href="/assets/home.css">
</head>
<body>
	<header>
		<div class="has-text-centered">
			<img src="\assets\images\logo.png" alt="" width="145" height="auto">
		</div>
			<nav class="navbar-tabs">
				<a href="#" class=" navbar-item">HOME</a>
				<a href="#" class=" navbar-item">INTERVIEW</a>
				<a href="#" class=" navbar-item">RECOMMEND
				<a href="#" class=" navbar-item">PROMOTION</a>
				<a href="#" class=" navbar-item">LOCATION</a>
				<a href="#" class=" navbar-item">TIME</a>
				<a href="#" class=" navbar-item">RATE</a>
				<a href="#" class=" navbar-item">CONTACT</a>
			</nav>
		</header>
		<main>
			<section class="banner">
				<div class="highlight">
					<div class="columns">
						<div class="column highlight-item"> <h1> Broccoli garden 's uncle Ken </h1>
						</div>
					</div>
				</div>
				<div class="thumbnail">
					<div class="columns is-marginless">

						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">Product </div >
						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);"> Hotel </div>
						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);"> Coffee </div>
						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);"> Relex </div>
						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-5.jpg);">
						Travel </div>
					</div>
				</div>
			</section>
			<section class="section we-present">
			 <div class="container">
			 	<div class="columns">
			 		<div class="column has-text-left">
			 		<a href="#">LASTEST </a>
					</div>
			 		<div class="column has-text-centered">
			 		<a href="#">WE PRESENT </a>
			 		</div>
			 		<div class="column has-text-right">
			 		<a href="#">SERCH </a>
			 		</div>
				 </div>
			 </div>	
			<div class="columns is-multiline">
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class="card-image">
			 				<figure class="image is-3by2">
			 					<img src="/assets/images/home/we-preset/img-6.jpg" alt="image-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category"> Public Area </h5>
			 				<h3 class="title is-spaced is-4">Banana Orange Grape Coconut </h3>
			 				<h4 class="subtitle is-6"> Horatio Ken	
			 				</h4>
			 				<p>
			 					Product of my Broccoli garden's Uncle Ken
			 					Broccoli likes steady moisture to grow fast and produce good heads. An organic mulch of compost, finely ground leaves, or finely ground bark will help keep the soil cool and moist and keep down weeds. In cold climates, it’s the opposite, you may need to plant through black plastic in early spring to help warm the soil or leave the ground without mulch so that the sun can warm it.
			 				</p>
			 			</div>
			 		</div>
			 	</a>
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class="card-image">
			 				<figure class="image is-3by2">
			 					<img src="/assets/images/home/we-preset/img-5.jpg" alt="image-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category"> Public Area </h5>
			 				<h3 class="title is-spaced is-4">Banana Orange Grape Coconut </h3>
			 				<h4 class="subtitle is-6"> Horatio Ken	
			 				</h4>
			 				<p>
			 					Product of my Broccoli garden's Uncle Ken
			 					Broccoli likes steady moisture to grow fast and produce good heads. An organic mulch of compost, finely ground leaves, or finely ground bark will help keep the soil cool and moist and keep down weeds. In cold climates, it’s the opposite, you may need to plant through black plastic in early spring to help warm the soil or leave the ground without mulch so that the sun can warm it.
			 				</p>
			 			</div>
			 		</div>
			 	</a>
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class="card-image">
			 				<figure class="image is-3by2">
			 					<img src="/assets/images/home/we-preset/img-4.jpg" alt="image-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category"> Public Area </h5>
			 				<h3 class="title is-spaced is-4">Banana Orange Grape Coconut </h3>
			 				<h4 class="subtitle is-6"> Horatio Ken	
			 				</h4>
			 				<p>
			 					Product of my Broccoli garden's Uncle Ken
			 					Broccoli likes steady moisture to grow fast and produce good heads. An organic mulch of compost, finely ground leaves, or finely ground bark will help keep the soil cool and moist and keep down weeds. In cold climates, it’s the opposite, you may need to plant through black plastic in early spring to help warm the soil or leave the ground without mulch so that the sun can warm it.
			 				</p>
			 			</div>
			 		</div>
			 	</a>
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class="card-image">
			 				<figure class="image is-3by2">
			 					<img src="/assets/images/home/we-preset/img-3.jpg" alt="image-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category"> Public Area </h5>
			 				<h3 class="title is-spaced is-4">Banana Orange Grape Coconut </h3>
			 				<h4 class="subtitle is-6"> Horatio Ken	
			 				</h4>
			 				<p>
			 					Product of my Broccoli garden's Uncle Ken
			 					Broccoli likes steady moisture to grow fast and produce good heads. An organic mulch of compost, finely ground leaves, or finely ground bark will help keep the soil cool and moist and keep down weeds. In cold climates, it’s the opposite, you may need to plant through black plastic in early spring to help warm the soil or leave the ground without mulch so that the sun can warm it.
			 				</p>
			 			</div>
			 		</div>
			 	</a>
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class="card-image">
			 				<figure class="image is-3by2">
			 					<img src="/assets/images/home/we-preset/img-2.jpg" alt="image-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category"> Public Area </h5>
			 				<h3 class="title is-spaced is-4">Banana Orange Grape Coconut </h3>
			 				<h4 class="subtitle is-6"> Horatio Ken	
			 				</h4>
			 				<p>
			 					Product of my Broccoli garden's Uncle Ken
			 					Broccoli likes steady moisture to grow fast and produce good heads. An organic mulch of compost, finely ground leaves, or finely ground bark will help keep the soil cool and moist and keep down weeds. In cold climates, it’s the opposite, you may need to plant through black plastic in early spring to help warm the soil or leave the ground without mulch so that the sun can warm it.
			 				</p>
			 			</div>
			 		</div>
			 	</a>
			 	<a href="#" class="column is-one-third">
			 		<div class="card">
			 			<div class="card-image">
			 				<figure class="image is-3by2">
			 					<img src="/assets/images/home/we-preset/img-1.jpg" alt="image-1">
			 				</figure>
			 			</div>
			 			<div class="card-content">
			 				<h5 class="category"> Public Area </h5>
			 				<h3 class="title is-spaced is-4">Banana Orange Grape Coconut </h3>
			 				<h4 class="subtitle is-6"> Horatio Ken	
			 				</h4>
			 				<p>
			 					Product of my Broccoli garden's Uncle Ken
			 					Broccoli likes steady moisture to grow fast and produce good heads. An organic mulch of compost, finely ground leaves, or finely ground bark will help keep the soil cool and moist and keep down weeds. In cold climates, it’s the opposite, you may need to plant through black plastic in early spring to help warm the soil or leave the ground without mulch so that the sun can warm it.
			 				</p>
			 			</div>
			 		</div>
			 	</a>
			 </div>	
			</section>
		</main>
</body>
</html>