<header>
		<div class="has-text-centered">
			<img src="\assets\images\logo.png" alt="" width="145" height="auto">
		</div>
			<nav class="navbar-tabs">
				<a href="#" class=" navbar-item">HOME</a>
				<a href="#" class=" navbar-item">INTERVIEW</a>
				<a href="#" class=" navbar-item">RECOMMEND
				<a href="#" class=" navbar-item">PROMOTION</a>
				<a href="#" class=" navbar-item">LOCATION</a>
				<a href="#" class=" navbar-item">TIME</a>
				<a href="#" class=" navbar-item">RATE</a>
				<a href="#" class=" navbar-item">CONTACT</a>
			</nav>
</header>